<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnrunyankole">

    <application
        android:allowBackup="true"
        android:icon="@drawable/family_father"
        android:label="@string/app_name"
        android:roundIcon="@drawable/family_father"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ColorsActivity"
            android:label="@string/category_colors"/>
        <activity android:name=".NumbersActivity"
            android:label="@string/category_numbers"/>
        <activity android:name=".PhrasesActivity"
            android:label="@string/category_phrases"/>
        <activity android:name=".FamilyMembers"
            android:label="@string/category_family"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>